body, html {
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/***********************************************/
/**************** Mixins for menus *************/
/***********************************************/
/*-----------------------------------------------------------*/
/* ----------------------- RESPONSIVE -----------------------*/
/*-----------------------------------------------------------*/
@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes grow {
  0%, 100% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform: scaleY(2);
    opacity: 1;
  }
}
@keyframes grow {
  0%, 100% {
    transform: scaleY(1);
    opacity: 1;
  }
  50% {
    transform: scaleY(2);
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo_main_header {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 50%;
  width: 50%;
}

.about {
  background: #f6f6f6;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.about .about_title {
  font-weight: bolder;
  margin: 0rem;
  padding: 0rem;
}
.about .about_title_sub {
  color: dimgrey;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.about p {
  color: #f6f6f6;
}

.about_btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2.75rem;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}
.about_btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background: silver;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  margin: none;
  width: 100%;
}

.location_searchForm {
  display: flex;
  justify-content: center;
}

.operation {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.operation h2 {
  padding-top: 1rem;
  padding-left: 1rem;
  margin: 0;
}
.operation ul {
  padding-left: 1rem;
}

@media screen and (min-width: 748px) {
  .operation_steps {
    display: flex;
    justify-content: center;
  }
}
.operation_steps li {
  margin: 0 1rem 1rem 0;
  display: flex;
  -webkit-padding-start: none;
          padding-inline-start: none;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  background: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 4px 4px 6px #e9e9e9;
}
@media screen and (min-width: 748px) {
  .operation_steps li {
    max-width: 375px;
  }
}

.operation_steps_number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  right: 10px;
}

.operation_steps_icon > i {
  color: #b2b2b2;
  margin: 0 1rem 0 1rem;
}

.operation_steps_label {
  padding-left: 2rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem 2rem 1rem;
}

.restaurant_title {
  padding: 1rem 0 0 0;
}

.heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heart h4 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.card {
  padding: 0 0 2rem 0;
}
.card a {
  size: 0;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 10rem;
}
.card figure {
  margin: 0;
}
.card figcaption {
  margin: 0;
  padding: 0 1rem 1rem 1rem;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /*max-height: 4rem;*/
}
.card figcaption p {
  color: dimgray;
  margin: 0;
}

.card_new {
  display: none;
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 0px;
  position: relative;
  left: 15rem;
  top: 3rem;
}

.card_new.active {
  display: inline;
}

footer {
  background-color: #353535;
  padding-right: 2rem;
  padding-left: 2rem;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
}

footer > h3 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

footer > ul {
  list-style-type: none;
  padding: 0.5rem 0 0rem 0;
}
footer > ul li {
  padding-bottom: 0.5rem;
}
footer > ul li a {
  color: white;
}

.fa-utensils {
  margin-right: 0.5rem;
}

.fa-hands-helping {
  margin-right: 0.5rem;
}

.main_header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 748px) {
  .main_header {
    justify-content: space-around;
  }
}

.header_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
}
@media screen and (min-width: 748px) {
  .header_img img {
    width: 100%;
  }
}

.menu_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 20px;
  font-weight: bolder;
}

.menu {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -3rem;
  padding-bottom: 1rem;
}
.menu h2 {
  margin: 0;
  padding: 1rem 0 0 1rem;
  font-weight: lighter;
  font-size: larger;
  color: dimgrey;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.line {
  width: 3rem;
  border: 2px solid #99E2D0;
  margin-left: 1rem;
}

.menu_title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 1rem;
}

@media screen and (min-width: 748px) {
  .dish_card {
    display: flex;
    justify-content: first baseline;
    padding: 0 5rem 0 5rem;
  }
}

.dish_card_content {
  background-color: white;
  border-radius: 15px;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 300ms ease-in-out;
}
.dish_card_content:hover {
  padding-right: 6rem;
}
.dish_card_content:hover .checked {
  opacity: 1;
  transform: translate(-1rem);
}
.dish_card_content:hover .fa-check-circle {
  transform: rotate(360deg);
  color: #fff;
  transition: transform 300ms ease-in-out;
}
.dish_card_content h4 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish_card_content p {
  margin: 0;
  color: dimgrey;
}
@media screen and (min-width: 748px) {
  .dish_card_content {
    display: inline-block;
    width: 500px;
  }
}

.dish_card_content_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dish_card_content_detail p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checked {
  /*display: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  /*width: 3rem;*/
  /*height: 1rem;*/
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 0.7rem;
  right: -1rem;
  top: 0;
  opacity: 0;
  transition: transform 500ms ease-in-out;
}

.menu_btn {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

/*
.order_btn {
    @include about_btn;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0.75rem 2.75rem 0.75rem 2.75rem;

    &:hover {
        background-color: lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow: 4px 4px 6px #000;
    }
}
*/
.starters {
  -webkit-animation: fadein 1s ease-in-out;
          animation: fadein 1s ease-in-out;
}

.Mains {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
}

.desserts {
  -webkit-animation: fadein 5s ease-in-out;
          animation: fadein 5s ease-in-out;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  -webkit-animation: fill 300ms ease-in-out;
          animation: fill 300ms ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: bold;
}

.order_btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2.75rem;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  padding: 0.75rem 2.75rem 0.75rem 2.75rem;
}
.order_btn:hover {
  background-color: #ae80e5;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px #000;
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-500%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-500%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}
@-webkit-keyframes icon-animation {
  0% {
    transform: rotate(0deg);
    border-radius: 80%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@keyframes icon-animation {
  0% {
    transform: rotate(0deg);
    border-radius: 80%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
.loader {
  /*display: none;*/
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: linear-gradient(#9356DC, #FF79DA, #99E2D0);
  font-family: Shrikhand, sans-serif;
  font-weight: bolder;
  text-align: center;
  pointer-events: none;
  font-size: xx-large;
  /*
  animation: loader 1s ease-in-out 3s forwards;
  */
}

.loader_icon {
  position: relative;
  top: 5%;
  color: #fff;
  -webkit-animation: icon-animation 0.4s linear;
          animation: icon-animation 0.4s linear;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

.loader_ohmyfood {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 45%;
  margin: 0 5rem 0 5rem;
}

.loader_ohmyfood span {
  -webkit-text-stroke: deeppink;
  -webkit-text-stroke-width: 1px;
  opacity: 0;
  -webkit-animation: new-item-animation 0.5s linear forwards, grow 2s ease-in-out 0.3s infinite;
          animation: new-item-animation 0.5s linear forwards, grow 2s ease-in-out 0.3s infinite;
}

.loader_ohmyfood span:nth-child(1) {
  color: #9356DC;
  -webkit-animation-delay: 1s, 2s;
          animation-delay: 1s, 2s;
}

.loader_ohmyfood span:nth-child(2) {
  color: #FF79DA;
  -webkit-animation-delay: 1.5s, 2s;
          animation-delay: 1.5s, 2s;
}

.loader_ohmyfood span:nth-child(3) {
  color: #99E2D0;
  -webkit-animation-delay: 2s, 2.5s;
          animation-delay: 2s, 2.5s;
}

.loader_chef {
  /*display: none;*/
}

@-webkit-keyframes chef-animation {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes chef-animation {
  0% {
    transform: translate(-100%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
.loader_chef_img {
  width: 150px;
  height: 150px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border-radius: 50%;
  -webkit-animation: chef-animation 0.3s ease-in;
          animation: chef-animation 0.3s ease-in;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
}

/*
  .morph img {
  width: 200px;
  height: 150px;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.morph :hover img {
  width: 150px; 
  height: 150px;
  border-radius: 50%;  
  -webkit-transform: rotate(360deg); 
  transform: rotate(360deg);
}
*//*# sourceMappingURL=style.css.map */