@keyframes fill {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes grow{
  0%,100% {
    transform: scaleY(1);
    opacity: 1;
  }

  50%{
    transform: scaleY(2);
    opacity: 1;
  }
}