$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$backgroundcolor-location: silver;
$backgroundcolor-main:white;
$backgroundcolor-secondary: #f6f6f6;
$backgroundcolor-footer: #353535;
$padding-general: 0rem 1rem 2rem 1rem;
$breakpoints: (
        not_mobile: 748px,
);