$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$backgroundcolor-location: silver;
$backgroundcolor-main:#f6f6f6;
$backgroundcolor-secondary: gainsboro;
$backgroundcolor-footer: #353535;
$padding-general: 0rem 1rem 2rem 1rem;

/*
$linear-gradient:linear-gradient($color-secondary, $color-primary);
*/
/*
linear-gradient (to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);