footer {
  @include footer
}

footer > h3 {
  font-family: Shrikhand, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

footer > ul {
  list-style-type: none;
  padding: 0.5rem 0 0rem 0;
  li {
    padding-bottom: 0.5rem;
    
  a {
      color: white;
    }
  }
}

.fa-utensils {
  margin-right: 0.5rem;
}

.fa-hands-helping {
  margin-right: 0.5rem;
}

