.operation {
  @include operation
}

.operation {
  h2 {
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0;
  }
  ul {
    padding-left: 1rem;
  }
}

.operation_steps {
  @include not_mobile {
    display: flex;
    justify-content: center;
  }

  li {
    @include operation_steps;
    @include not_mobile {
      max-width: 375px;
    }
  }
}



.operation_steps_number{
  @include operation_steps_number;
}

.operation_steps_icon > i {
  color: #b2b2b2;
  margin: 0 1rem 0 1rem;
}

.operation_steps_label {
  padding-left: 2rem;
}
