
.restaurants {
    background-color: $backgroundcolor-secondary;
    padding: 2rem 1rem 2rem 1rem;
}

.restaurant_title {
    padding: 1rem 0 0 0;
}

.heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        color: black;
    }
}

.card {
    padding: 0 0 2rem 0;
    img {
        @include card-img ;
    }
    figure {
        @include card-figure;
    }
    figcaption {
        @include card-figcaption;
        p {
            color: dimgray;
            margin: 0;
        }
    }
}

.card_new {
    display: none;
    color: #008766;
    background: $color-tertiary;
    border: 5px solid $color-tertiary;
    border-radius: 0px;
    position: relative;
    left: 15rem;
    top: 3rem;
}

.card_new.active {
    display: inline;
}